/* line 7, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities-legacy.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities-legacy.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

h3{
  font-size: 2em;
  margin-top: 40px;
}

/* line 19, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities-legacy.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities-legacy.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities-legacy.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities-legacy.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities-legacy.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities-legacy.scss */
a img {
  border: none;
}

/* line 149, ../sass/style.scss */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* line 168, ../sass/style.scss */
body.bp {
  line-height: 2;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 100%;
}
/* line 173, ../sass/style.scss */
body.bp #container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  position: relative;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
body.bp #container:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 178, ../sass/style.scss */
body.bp.is_author {
  padding-top: 48px !important;
}

@media screen and (max-device-width: 1000px) {
  /* line 183, ../sass/style.scss */
  h2 {
    font-size: 3.5em;
    font-weight: bold;
  }
}

/* line 191, ../sass/style.scss */
.header_fixed #header {
  position: fixed;
}

/* line 196, ../sass/style.scss */
sup {
  vertical-align: super;
  font-size: .5em;
}

/* line 201, ../sass/style.scss */
#header {
  margin: 0 auto;
  float: none;
  z-index: 500;
}
@media screen and (max-device-width: 1000px) {
  /* line 201, ../sass/style.scss */
  #header {
    width: 100%;
    float: right;
    margin-right: 0;
    text-align: center;
    position: relative;
  }
}

/* line 216, ../sass/style.scss */
.logo {
  width: 49.57983%;
  float: left;
  margin-right: 0.84034%;
}

/* line 233, ../sass/style.scss */
#main_phone {
  width: 49.57983%;
  float: right;
  margin-right: 0;
  font-size: 2em;
  white-space: nowrap;
  text-decoration: none;
  text-align: right;
}

/* line 256, ../sass/style.scss */
ul.menu {
  width: 100%;
  float: right;
  margin-right: 0;
  height: 60px;
  z-index: 400;
  padding: 0;
  margin: 0;
}
@media screen and (max-device-width: 1000px) {
  /* line 256, ../sass/style.scss */
  ul.menu {
    left: 0;
    width: 100%;
    position: relative;
    height: auto;
    margin-bottom: 300px;
    z-index: 1;
  }
}
/* line 271, ../sass/style.scss */
ul.menu li {
  padding: 0;
  float: left;
  list-style-type: none;
  padding: 0 12px 0 12px;
  line-height: 60px;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 279, ../sass/style.scss */
ul.menu li:first-child {
  padding-left: 0;
}
/* line 282, ../sass/style.scss */
ul.menu li:last-child {
  padding-right: 0;
}
@media screen and (max-device-width: 1000px) {
  /* line 271, ../sass/style.scss */
  ul.menu li {
    width: 100%;
    height: 4em;
    font-size: 4em;
    background: #49A942;
    color: white;
    border-bottom: 1px solid;
    line-height: 4em;
  }
  /* line 300, ../sass/style.scss */
  ul.menu li:hover {
    background: #49A942;
  }
}

@media screen and (min-device-width: 1000px) {
  /* line 309, ../sass/style.scss */
  body.bp.scroll.header_fixed #header {
    margin: 0 auto;
    float: none;
    display: block;
  }
  /* line 313, ../sass/style.scss */
  body.bp.scroll.header_fixed #header .top_green_line {
    height: 100px;
    background-color: #49A942;
    -moz-box-shadow: #AAA 0px 2px 10px;
    -webkit-box-shadow: #AAA 0px 2px 10px;
    box-shadow: #AAA 0px 2px 10px;
  }
  /* line 324, ../sass/style.scss */
  body.bp.scroll.header_fixed #header .main_menu ul li a {
    color: #004338;
  }
  /* line 326, ../sass/style.scss */
  body.bp.scroll.header_fixed #header .main_menu ul li a:hover {
    color: white;
  }
  /* line 334, ../sass/style.scss */
  body.bp.scroll.header_fixed #header .phone {
    top: 15px;
    position: fixed;
  }
  /* line 338, ../sass/style.scss */
  body.bp.scroll.header_fixed #header .logo {
    left: 0%;
    margin-left: 0px;
  }
  /* line 341, ../sass/style.scss */
  body.bp.scroll.header_fixed #header .logo a {
    z-index: 150;
    width: 170px;
    height: 26px;
    background: url(../images/simpe_logo_white.png) no-repeat 0 0;
    background-size: 170px 26px;
    position: fixed;
  }
}
@media screen and (min-device-width: 1000px) and (max-device-width: 1000px) {
  /* line 341, ../sass/style.scss */
  body.bp.scroll.header_fixed #header .logo a {
    width: 100%;
    background: url(../images/simpe_logo_white.png) no-repeat center;
    left: 0;
  }
}
@media screen and (min-device-width: 1000px) {
  /* line 355, ../sass/style.scss */
  body.bp.scroll.header_fixed #header .logo a.small {
    top: 0;
  }
}

/* line 364, ../sass/style.scss */
#footer {
  margin: 0 auto;
  float: none;
  width: 960px;
  display: none;
}
/* line 369, ../sass/style.scss */
#footer #first_footer {
  display: none;
}

/* line 374, ../sass/style.scss */
.footer_bg {
  display: none;
}

/* line 382, ../sass/style.scss */
.width_static .pagepart {
  margin: 0 auto;
  float: none;
  display: block;
}
/* line 387, ../sass/style.scss */
.width_static .wrapper {
  position: relative;
  overflow: hidden;
}

/* line 394, ../sass/style.scss */
.width_halfliquid .fixed .wrapper {
  position: relative;
  margin: 0 auto;
}
/* line 398, ../sass/style.scss */
.width_halfliquid .liquid .wrapper {
  width: 100%;
}

/* line 408, ../sass/style.scss */
.pagepart {
  clear: both;
  margin: 0 0;
  overflow: hidden;
  width: 100%;
  float: right;
  margin-right: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-align: center;
}
/* line 416, ../sass/style.scss */
.pagepart .wrapper {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-align: left;
}
@media screen and (max-device-width: 1000px) {
  /* line 420, ../sass/style.scss */
  .pagepart p {
    font-size: 3em;
  }
}

 .pagepart p {
    margin: 20px 0;
  }

/* line 425, ../sass/style.scss */
.pagepart .pagepart_title {
  text-align: center;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 1em;
}
@media screen and (max-device-width: 1000px) {
  /* line 425, ../sass/style.scss */
  .pagepart .pagepart_title {
    font-weight: bold;
    font-size: 5em;
  }
}
/* line 436, ../sass/style.scss */
.pagepart .pagepart_teaser {
  text-align: center;
  margin-bottom: 2em;
}
/* line 442, ../sass/style.scss */
.pagepart .pagepart_main_img {
  text-align: center;
}
/* line 446, ../sass/style.scss */
.pagepart .pagepart_bg {
  position: absolute;
  top: 0;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  float: right;
  margin-right: 0;
  padding: 4em 0 2em 0;
}
/* line 453, ../sass/style.scss */
.pagepart .pagepart_bg .slideshow {
  width: 100%;
  float: right;
  margin-right: 0;
  top: -4em;
  position: relative;
}
/* line 458, ../sass/style.scss */
.pagepart .pagepart_bg .slideshow .slide img {
  width: 100%;
}
@media screen and (max-device-width: 1000px) {
  /* line 458, ../sass/style.scss */
  .pagepart .pagepart_bg .slideshow .slide img {
    height: 100%;
    width: auto;
  }
}
/* line 467, ../sass/style.scss */
.pagepart .pagepart_bg .pager, .pagepart .pagepart_bg .prev, .pagepart .pagepart_bg .next {
  display: none;
}
/* line 472, ../sass/style.scss */
.pagepart .actions {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  position: absolute;
  padding: 5px 1%;
  background: #eaeaea;
  width: 98%;
  float: right;
  margin-right: 0;
  z-index: 20;
  text-align: right;
  border-bottom: 1px solid gray;
  overflow: hidden;
  top: -50px;
}
/* line 490, ../sass/style.scss */
.pagepart .actions div {
  position: relative;
  z-index: 1;
}
/* line 494, ../sass/style.scss */
.pagepart .actions .pagepart_title {
  position: absolute;
  font-size: 1em;
  line-height: 40px;
  margin-bottom: auto;
  z-index: 1;
}
/* line 501, ../sass/style.scss */
.pagepart .actions .action_bg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 511, ../sass/style.scss */
.pagepart:hover .actions {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  top: 0px;
}
/* line 518, ../sass/style.scss */
.pagepart.fold .actions {
  position: relative;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  top: 0px;
  margin-bottom: 0px;
}

/* line 536, ../sass/style.scss */
.page_actions {
  position: fixed;
  top: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.95);
  width: 98%;
  float: right;
  margin-right: 0;
  padding: 5px 1%;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-align: right;
}

/* line 550, ../sass/style.scss */
.pagepart.common_left_align .wrapper {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-align: left;
}
/* line 554, ../sass/style.scss */
.pagepart.common_left_align .pagepart_title {
  text-align: left;
}
/* line 558, ../sass/style.scss */
.pagepart.common_left_align .pagepart_teaser {
  text-align: left;
  margin-bottom: 2em;
}

/* line 566, ../sass/style.scss */
.pagepart.common_img_in_left .wrapper {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-align: left;
}
/* line 570, ../sass/style.scss */
.pagepart.common_img_in_left .pagepart_title {
  text-align: left;
}
/* line 574, ../sass/style.scss */
.pagepart.common_img_in_left .pagepart_teaser {
  text-align: left;
  margin-bottom: 2em;
  overflow: hidden;
}
/* line 580, ../sass/style.scss */
.pagepart.common_img_in_left .pagepart_body {
  overflow: hidden;
}
/* line 584, ../sass/style.scss */
.pagepart.common_img_in_left .pagepart_main_img {
  text-align: left;
  float: left;
  margin-right: 2em;
  height: 100%;
}

/* line 595, ../sass/style.scss */
.pagepart.common_img_in_right .wrapper {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-align: left;
}
/* line 599, ../sass/style.scss */
.pagepart.common_img_in_right .pagepart_title {
  text-align: left;
}
/* line 603, ../sass/style.scss */
.pagepart.common_img_in_right .pagepart_teaser {
  text-align: left;
  margin-bottom: 2em;
  overflow: hidden;
}
/* line 609, ../sass/style.scss */
.pagepart.common_img_in_right .pagepart_body {
  overflow: hidden;
}
/* line 613, ../sass/style.scss */
.pagepart.common_img_in_right .pagepart_main_img {
  text-align: right;
  float: right;
  margin-right: 2em;
  height: 100%;
}

/* line 622, ../sass/style.scss */
.span-3 {
  width: 32.77311%;
  float: left;
  margin-right: 0.84034%;
}
/* line 624, ../sass/style.scss */
.span-3:nth-child(3n) {
  float: right;
  margin-right: 0;
}

/* line 629, ../sass/style.scss */
.span-4 {
  width: 24.36975%;
  float: left;
  margin-right: 0.84034%;
}
/* line 631, ../sass/style.scss */
.span-4:nth-child(4n) {
  float: right;
  margin-right: 0;
}

/* line 636, ../sass/style.scss */
.da-tabs {
  margin: 2em 0;
}
/* line 638, ../sass/style.scss */
.da-tabs .da-tabs_header {
  margin-bottom: 2em;
  width: 100%;
  float: right;
  margin-right: 0;
  text-align: center;
}
/* line 642, ../sass/style.scss */
.da-tabs .da-tabs_header .da-tab_title {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  float: left;
  padding: 2px 10px;
  border: 1px solid black;
  border-right: none;
  cursor: pointer;
}
/* line 649, ../sass/style.scss */
.da-tabs .da-tabs_header .da-tab_title:last-child {
  border-right: 1px solid black;
}
/* line 655, ../sass/style.scss */
.da-tabs .da-tabs_header .da-tab_title.selected {
  background: black;
  color: white;
}

/* line 667, ../sass/style.scss */
div.icons {
  width: 100%;
  float: right;
  margin-right: 0;
}
/* line 672, ../sass/style.scss */
div.icons .icon {
  text-align: center;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
@media screen and (max-device-width: 1000px) {
  /* line 672, ../sass/style.scss */
  div.icons .icon {
    width: 100% !important;
    margin-bottom: 4em;
  }
}
/* line 680, ../sass/style.scss */
div.icons .icon:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 683, ../sass/style.scss */
div.icons .icon img {
  margin: 0 -7px 1em -7px;
}
@media screen and (max-device-width: 1000px) {
  /* line 683, ../sass/style.scss */
  div.icons .icon img {
    width: 70% !important;
    height: auto !important;
  }
}
/* line 690, ../sass/style.scss */
div.icons .icon a {
  text-decoration: none;
}
/* line 692, ../sass/style.scss */
div.icons .icon a .desc {
  color: black;
}
/* line 696, ../sass/style.scss */
div.icons .icon h4 {
  color: black;
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
}
@media screen and (max-device-width: 1000px) {
  /* line 696, ../sass/style.scss */
  div.icons .icon h4 {
    font-size: 5em;
    font-weight: bold;
  }
}
/* line 709, ../sass/style.scss */
div.icons .icon .desc {
  color: black;
  font-size: .9em;
  line-height: 1.2em;
}
@media screen and (max-device-width: 1000px) {
  /* line 709, ../sass/style.scss */
  div.icons .icon .desc {
    font-size: 3em;
    padding: 0 1em;
  }
}

/* line 721, ../sass/style.scss */
.center_align {
  text-align: center;
}

/* line 725, ../sass/style.scss */
#slides {
  display: none;
}

/* line 729, ../sass/style.scss */
.slideshow {
  overflow: hidden;
  width: 100%;
  float: right;
  margin-right: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 734, ../sass/style.scss */
.slideshow .slideshow_wrapper {
  position: relative;
  z-index: 1;
}
/* line 741, ../sass/style.scss */
.slideshow .pager {
  position: absolute;
  z-index: 2;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  top: 10px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
@media screen and (max-device-width: 1000px) {
  /* line 741, ../sass/style.scss */
  .slideshow .pager {
    top: 30px;
  }
}
/* line 756, ../sass/style.scss */
.slideshow .pager .page {
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  border: 1px solid black;
  margin: 0 2px;
  text-indent: -10000px;
}
@media screen and (max-device-width: 1000px) {
  /* line 756, ../sass/style.scss */
  .slideshow .pager .page {
    border: 5px solid;
    width: 50px;
    height: 50px;
    margin: 0 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }
}
/* line 771, ../sass/style.scss */
.slideshow .pager .page.active {
  background-color: black;
}
/* line 777, ../sass/style.scss */
.slideshow .prev, .slideshow .next {
  position: absolute;
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-indent: -10000px;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
  z-index: 2;
  border: 1px solid black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 793, ../sass/style.scss */
.slideshow .prev {
  left: 30px;
  background: url(../images/icons/left_right.png) no-repeat left center;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 799, ../sass/style.scss */
.slideshow .next {
  right: 30px;
  background: url(../images/icons/left_right.png) no-repeat right center;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 804, ../sass/style.scss */
.slideshow .slide {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 100%;
  float: right;
  margin-right: 0;
  top: 0;
  left: 0;
  z-index: 1;
  text-align: center;
  position: absolute;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 814, ../sass/style.scss */
.slideshow .slide:first-child {
  position: relative;
}
/* line 817, ../sass/style.scss */
.slideshow .slide.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 822, ../sass/style.scss */
.slideshow .slide img {
  height: auto;
}
/* line 829, ../sass/style.scss */
.slideshow.slideshow_liquid .slide img {
  width: 100%;
}
/* line 835, ../sass/style.scss */
.slideshow:hover .next, .slideshow:hover .prev, .slideshow:hover .pager {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 843, ../sass/style.scss */
.is_ios .for_none_ios {
  display: none;
}

/* line 849, ../sass/style.scss */
.none_ios .for_ios {
  display: none;
}

/* line 854, ../sass/style.scss */
form {
  margin: 2em 0;
}

/* line 858, ../sass/style.scss */
input[type='text'],
input[type='email'],
input[type='datetime'],
input[type='password'],
textarea {
  font-size: 1.5em;
  margin-bottom: 10px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px inset;
  border: none;
  outline: none;
}
/* line 871, ../sass/style.scss */
input[type='text'].ng-invalid.ng-dirty,
input[type='email'].ng-invalid.ng-dirty,
input[type='datetime'].ng-invalid.ng-dirty,
input[type='password'].ng-invalid.ng-dirty,
textarea.ng-invalid.ng-dirty {
  border: 1px solid red;
}

/* line 876, ../sass/style.scss */
body.bp .button,
input[type="submit"],
button {
  background-color: black;
  font-size: 1.2em;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 105, ../sass/style.scss */
body.bp .button.small,
input[type="submit"].small,
button.small {
  font-size: .8em;
  padding: 5px 10px;
}
/* line 109, ../sass/style.scss */
body.bp .button:hover,
input[type="submit"]:hover,
button:hover {
  background-color: #262626;
}
/* line 112, ../sass/style.scss */
body.bp .button:active,
input[type="submit"]:active,
button:active {
  background-color: black;
}
/* line 115, ../sass/style.scss */
body.bp .button.transparent,
input[type="submit"].transparent,
button.transparent {
  background-color: transparent;
  border: 1px solid;
  color: black;
}
/* line 119, ../sass/style.scss */
body.bp .button.transparent:hover,
input[type="submit"].transparent:hover,
button.transparent:hover {
  background-color: #262626;
  color: white;
}
/* line 123, ../sass/style.scss */
body.bp .button.transparent:active,
input[type="submit"].transparent:active,
button.transparent:active {
  background-color: black;
  color: white;
}
/* line 128, ../sass/style.scss */
body.bp .button.white,
input[type="submit"].white,
button.white {
  color: white;
}
/* line 130, ../sass/style.scss */
body.bp .button.white:hover,
input[type="submit"].white:hover,
button.white:hover {
  background-color: #404040;
  color: white;
}
/* line 134, ../sass/style.scss */
body.bp .button.white:active,
input[type="submit"].white:active,
button.white:active {
  color: white;
}
/* line 138, ../sass/style.scss */
body.bp .button.red,
input[type="submit"].red,
button.red {
  background-color: red;
}
/* line 140, ../sass/style.scss */
body.bp .button.red:hover,
input[type="submit"].red:hover,
button.red:hover {
  background-color: #ff4d4d;
}
/* line 143, ../sass/style.scss */
body.bp .button.red:active,
input[type="submit"].red:active,
button.red:active {
  background-color: maroon;
}

/* line 882, ../sass/style.scss */
.ui-state-highlight {
  height: 50px;
  line-height: 1.2em;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 100%;
  float: right;
  margin-right: 0;
}

/* line 890, ../sass/style.scss */
body.bp .sort_handle {
  cursor: move;
}

/* line 894, ../sass/style.scss */
.to_top {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: fixed;
  text-align: center;
  line-height: 50px;
  font-size: .6em;
  width: 50px;
  height: 50px;
  bottom: 10px;
  left: 10px;
  border: 1px solid;
  z-index: 99;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  cursor: pointer;
}

/* line 913, ../sass/style.scss */
.scroll .to_top {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
